.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 30px;
}

.form input, .form select {
  width: 45%;
}

.form textarea{
  width: 100%;
}

.form button{
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles.module.css */

.measurementField {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* space between measurement fields */
}

.formElement {
  border-radius: 4px; /* slightly rounded corners */
  margin-bottom: 10px; /* space below each field */
  color: black;
  height: 40px;
  margin-top:5px;
  margin-bottom: 5px;
}

.fileInput {
  border: none; /* you may want to remove border for file inputs */
  background-color: #f0f0f0; /* different background to distinguish from other inputs */
}

.textarea {
  width: 100%; /* full width */
  resize: vertical; /* only allow vertical resizing */
}

.deleteButton {
  background-color: #ff4d4d;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0; /* Padding removed since the SVG size is controlled separately */
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Fixed width */
  height: 20px; /* Fixed height */
}


.deleteButton:hover {
  background-color: #ff6666; /* lighter red on hover */
}

.submit:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

.formButton {
  background-color: #4CAF50; /* example button color */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.formButton:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}

.hidden {
  display: none;
}
